body{
    font-size: 20px;
}

.txt1{
    color: rgb(4, 69, 91);
    margin-top: 0%;
    padding: 50px;
}

.gender1{
    margin-left: 2%;
    color: white;
}

.district1{
    margin-right: 9%;
    margin-top: 1%;
}

.phone1{
    margin-right: 8%;
    margin-top: 1%;
}

.pob1{
    margin-right: 1%;
    margin-top: 1%;
}

.dob1{
    margin-right: 4%;
    margin-top: 1%;
   
}

.btn{
    background-color: greenyellow;
    margin-top: 1%;
    font: size 20px;
}

.btn3{
    margin-right: 95%;
    margin-top: 1%;
}

.btn4{
    margin-left: 85%;
    margin-top: 1%;
}
